body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(212, 212, 125);
  font-family: "Cinzel", serif;
  margin-top: 100px;
  background: linear-gradient(59.74deg, #020718 44.35%, #100830 100%);
}
h1 {
  position: absolute;
  top: 0%;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  list-style: none;
  margin-top: 10px;
}

.boardGrid .boxes {
  border: 1px solid rgb(254, 249, 249);
  width: 100px;
  height: 100px;
  background: radial-gradient(
    167.91% 1263% at 3.94% 100%,
    #0c1b52 0%,
    #7b0770 100%
  );
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 80px;
  color: beige;
  box-shadow: white;
}

.boxes:hover {
  cursor: pointer;
  color: black;
}
.endgame  {
  display: flex;
  background-color: rgb(3, 40, 43);
  position: fixed;
  width: 500px;
  height: 400px;
  font-size: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border: 10px solid rgb(212, 212, 125);
  transition-duration: 1s;
  transition-delay: 1s;
  animation-name: boxAnimation;
  animation-duration: 5s;
  
}

#resetButton {
  font-size: 30px;
  font-family: "Cinzel", serif;
  margin-top: 70px;
  animation-name: example;
}

#resetButton:hover {
  cursor: pointer;
  background-color: #1434a7;
}

.scores {
  display: grid;
  grid-template-columns: repeat(2, 100px);
}

.scoreX,
.scoreO {
  display: flex;
  align-content: center;
  justify-content: center;
  color: beige;
  box-shadow: white;
  border: 1px solid white;
  width: 80px;
  height: 20px;
  padding: 5px;
}


@keyframes boxAnimation
{
  0% {left: 0%}
  50% {left: 25%}
 
}
