body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(179, 218, 40);
    font-size: 30px;
    font-family: 'Cinzel', serif;
    margin-top: 100px;
    background: linear-gradient(59.74deg, #020718 44.35%, #100830 100%);
}

.boardGrid 
{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    list-style: none;
    margin-top: 40px;
    
}



.boxes
{
   
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: radial-gradient(167.91% 1263% at 3.94% 100%, #0C1B52 0%, #7B0770 100%);
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 90px;
    color:beige;
    
}

.boxes:hover{

background: rgb(173, 117, 173);
cursor: pointer;

}

.show
{
   display: none;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.show button{

    font-size: 30px;
    font-family: 'Cinzel', serif;
    margin-top: 70px;
}

.show button:hover{

    cursor: pointer;
    background-color: rgb(55, 166, 231);    
}